.colleges {
    text-align: center;
}
#colleges-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
}

.college-list {
    display: flex;
    justify-content: space-evenly;
}
.college-col p {
    margin-bottom: 25px;
}
.colleges-disclaimer {
    font-size: 15px;
    margin-top: 75px;
}
/* .all-colleges {
    display: flex;
    flex-direction: column;
}
.college-row {
    display: flex;
    justify-content: space-evenly;
}
.college-ind {
    display: flex;
    flex-direction: column;
}
.college-ind-img-wrapper {
    max-height: 100px;
    max-width: 100px;
    margin: 0 auto;
}
.college-ind-img {
    height: 100%;
    width: 100%;
}
.college-ind-text {
    margin-top: 5px;
} */
.college-unlisted {
    max-width: 460px;
    margin: 50px auto;
}
#college-unlisted-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}
.colleges-email {
    color: blue;
    text-decoration: underline;
    font-size: 24px;
}
.colleges-next-btn a {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 19.5px;
	text-decoration: none;
	text-align: center;
    position: relative;
    top: 0px; 
    background-color: #fc8eac;
	color: rgb(36, 28, 21);
	height: 43.5px;
	width: fit-content;
	padding: 12px 24px;
	cursor: pointer;
	box-sizing: border-box;
	box-shadow: rgb(36, 28, 21) 0px 0.25008px 0px 0px;
    border-radius: 26px; 
    border: 1px solid black;
}
.colleges-next-btn a:hover {
    transition: top 0.1s ease-in-out, transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    box-shadow: rgb(36, 28, 21) 0px 0px 0px 1px, rgb(36, 28, 21) 0px 5.25008px 0px 0px;
    top: -5px;
}
.colleges-next-btn {
    text-align: center;
    margin-top: 75px;
}