@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

body {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;

}
.navbar #title {
  color: black; 
  font-family: 'Ultra', serif;
  font-size: 30px;
  font-weight: 500;
  outline: black dashed 5px;
  background-color: rgb(243, 241, 241); 
  box-shadow: black; 
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.links a:hover {
  color: white;
  background-color: #fc8eac;
  border-radius: 8px;
}
.content {
  margin: 0px auto;
  padding: 20px;
}
.dashboard a {
  padding: 6px;
  text-decoration: none;
  background-color: #FFE013;
  color: #231B14;
  border-radius: 8px;
  margin-top: 10px;
}
.side-nav {
  height: 100%; 
  width: 12%;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color: #f6f6f9;; 
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}
.side-nav-links{
  color: black;
  text-decoration: none;
  padding: 45px 12px;
}
.admitted-logo-offwhite {
  width: 100%
}
.admitted-logo-white {
  height: 60px;
}
.border-div {
  border: 0.5px solid #DBD9D2;
  width: 50%;
}
.side-nav-icon {
  font-size: 30px;
}
.side-nav-links:hover {
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
	transition: transform 0.3s ease 0s;
}
.content2 {
  text-align: center;
  margin-left: 50px;
}
.recent-activity {
  margin-top: 30px;
}
.dashboard {
  text-align: center;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home h1 {
	/* Font & Text */
	font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
	font-size: 48px;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 48px;
	text-align: center;

	/* Color & Background */
	color: rgb(36, 28, 21);

	/* Box */
	height: 48px;
	width: 853.336px;

}
#main-blurb {
  margin: 20px 0; 
	/* Font & Text */
	font-family: "Nunito Sans", Helvetica, Arial, Verdana, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: -0.32px;
	line-height: 32px;
	text-align: center;
  color: rgb(36, 28, 21);

	/* Color & Background */
	color: rgb(36, 28, 21);

	/* Box */
	height: 64px;
	width: 853.336px;
}
.home .mainbutton, .navbar .mainbutton {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: normal;
	line-height: 19.5px;
	text-decoration: none solid rgb(36, 28, 21);
	text-align: center;
  position: relative;
  top: 0px; 
	/* Color & Background */
	background-color: #fc8eac;
  /* background-color: #ffe01b; */
	color: rgb(36, 28, 21);

	/* Box */
	height: 43.5px;
	width: 138.305px;
	padding: 12px 24px;
  


	/* Miscellaneous */
	cursor: pointer;

	/* Effects */
	box-sizing: border-box;
	box-shadow: rgb(36, 28, 21) 0px 0px 0px 1px, rgb(36, 28, 21) 0px 0.25008px 0px 0px;
  border-radius: 26px; 
}
.home .mainbutton:hover, .navbar .mainbutton:hover {
	transition: top 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
  box-shadow: rgb(36, 28, 21) 0px 0px 0px 1px, rgb(36, 28, 21) 0px 5.25008px 0px 0px;
  top: -3.05008px;
}

.navbar .logbutton{
	/* Font & Text */
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 19.5px;
	text-align: center;
  position: relative;
  top: 0px; 

	/* Color & Background */
	background-color: rgba(36, 28, 21, 0);
	color: rgb(36, 28, 21);

	/* Box */
	height: 43.5px;
	width: 91px;
	margin: 0px;
	padding: 12px 24px;
	min-height: 0px;
	min-width: 91px;
	cursor: pointer;
	

	/* Effects */
	transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7) 0s, box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7) 0s, -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7) 0s, -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7) 0s;
	box-sizing: border-box;
	box-shadow: rgb(36, 28, 21) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	border-radius: 26px; 
}

.navbar .logbutton:hover {
  transition: top 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
  box-shadow: rgb(36, 28, 21) 0px 0px 0px 1px, rgb(36, 28, 21) 0px 5.25008px 0px 0px;
  top: -3.05008px;
}

.navbar .regularbutton {
  font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 14.2439px;
	font-style: normal;
	font-weight: 500;
	color: black; 
	cursor: pointer;
}







