@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
#title {
  color: #fc8eac;
  margin-left: 36px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.links a:hover {
  color: white;
  background-color: #fc8eac;
  border-radius: 8px;
}
.home a {
  padding: 6px;
  text-decoration: none;
  background-color: #FFE013;
  color: #231B14;
  border-radius: 8px;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff5d7;
}

.links {
  justify-content: space-around; 
  display:flex; 
  margin: 15px 0; 
}

.links a {
  color: black; 
  font: 'Roboto'; 
  text-decoration: none; 
}

.links a:hover {
  background-color: white;
  cursor: pointer; 
}


.signup {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.signup label {
  text-align: left;
  display: block;
}
.signup h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.signup input, .signup select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}


.signup button {
  background: #f1356d;
  margin: 10px 0; 
  color: #fff;
  border: 0;
  padding: 15px 25px; 
  border-radius: 8px;
  cursor: pointer;
}



.login {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.login label {
  text-align: left;
  display: block;
}
.login h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.login input, .login select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}


.login button {
  background: #f1356d;
  margin: 10px 0; 
  color: #fff;
  border: 0;
  padding: 15px 25px; 
  border-radius: 8px;
  cursor: pointer;
} */
