body {
    background-color: #f6f6f9;
}

.login {
        margin: auto; 
        margin-top: 200px; 
        font-family: SofiaPro,helvetica neue,Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 400;
        background: white;  
        color: rgb(63, 68, 80);
        height: 300.5px;
        width: 420px;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: space-around; 
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    
}
  .login label {
    font-family: SofiaPro,helvetica neue,Helvetica,Arial,sans-serif;
    text-align: left;
    display: block;
    font-size: 14px;
    color: #717684;
    font-weight: 500;
    cursor: pointer;
  }

  .login h3 {
        padding-top: 25px; 
        /* Font & Text */
        font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: rgb(63, 68, 80);
        display: block;
  }
 
.login input {
    
        /* Font & Text */
        font-family: SofiaPro, "helvetica neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 100;
        background-color: white;
        width: 352px; 
        background: right -10px center #fff;
        background-size: 20px;
        width: 100%;
        border: 1px solid #c9cbd4;
        border-radius: 6px;
        color: #3f4450;
        padding: 9px 8px 7px;
        margin-bottom: 20px;
        display: block;
        transition: all .2s;
        cursor: text;
        position: relative;
        height: 40px;
        box-sizing: border-box;
}

.login input::placeholder{
    font-family: SofiaPro, "helvetica neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    
    color: rgb(63, 68, 80);
}
  
  
.login button {
    margin-left: 10px; 
    background: #fc8eac;
    /* background: #ffe01b; */
    color: black;
    border: 0;
    height: 40px; 
    width: 350px; 
    border-radius: 15px; 
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7) 0s, box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7) 0s, -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7) 0s, -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7) 0s;
	box-sizing: border-box;
	box-shadow: rgb(36, 28, 21) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
} 
  

.login button:hover {
transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
  box-shadow: rgb(36, 28, 21) 0px 0px 0px 1px, rgb(36, 28, 21) 0px 5.25008px 0px 0px;
  transform: translateY(-3); 
}


.text-success {
  text-align: center; 
}