.payment-options {
  position: relative;
  margin-top: 250px;
  margin-bottom: 50px;
}
.payment-options a {
  text-decoration: none;
  color: black;
}
.pay-options-all-boxes {
  display: flex;
}
.payment-options h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
font-weight: 400;
letter-spacing: -1px;
line-height: 48px;
  text-align: center;
}
.pay-options-box {
  max-width: 320px;
  cursor: pointer;
}
.individual-box {
  width: 320px;
  border: .1px solid #BCBAB8;
  text-align: center;
}
.individual-box:hover {
  box-shadow: rgba(140, 140, 140, 0.75) 0px 0px 10px -2px;
  z-index: 2;
}
.pay-options-header {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.pay-options-features {
  line-height: 50px;
}
.pay-options-features-line {
  padding: 15px;
  border-bottom: 1px solid #DBD9D2;
}
.pay-options-features-line-x {
  color: #CDCAC1;
}
.pay-options-next-btn-wrap {
  margin-top: 50px;
  text-align: center;
}
.pay-options-next-btn {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  position: relative;
  top: 0px; 
  background-color: #fc8eac;
  color: rgb(36, 28, 21);
  height: 43.5px;
  width: 400px;
  padding: 12px 24px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 26px; 
  border: 1px solid black;
  text-decoration: none;
}
.pay-options-next-btn:hover {
  transition: top 0.1s ease-in-out, transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7), -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
  box-shadow: rgb(36, 28, 21) 0px 0px 0px 1px, rgb(36, 28, 21) 0px 5.25008px 0px 0px;
  top: -5px;
}