
.reviewer-profile {
    font-family:sans-serif;
    width: 300px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    font-weight: 100;
    padding: 10px;

    color: black;
    box-shadow: black 0px 0px 10px -2px;
}
.profile-wrapper {
    border-radius: 50%;
    padding: 10px;
    width: 170px;
    margin: 10px auto;
    border-right: 2px solid #fc8eac;
}
.profile-photo {
    border-radius: 50%;
    border: 4px solid #fc8eac;
    height: 150px;
    width: 150px;
}
.profile-name {
    color: black;
    font-size: 20px;
    margin: 20px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.profile-school {
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0px;
    color: #fc8eac;
}
.profile-description-wrap {
    width: 260px;
    margin: 20px;
}
.profile-description {
    text-align: left;
}
.profile-description span {
    color: #fc8eac;
    font-weight: bold;
}